
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image responsive-img">
      <img ng-src="/img/product/{{ product.id.value }}.png">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a class="waves-effect waves-light btn-large" ng-click="order(1)">1皿</a>
        <a class="waves-effect waves-light btn-large" ng-click="order(2)">2皿</a>
        <a class="waves-effect waves-light btn-large" ng-click="order(3)">3皿</a>
        <a class="waves-effect waves-light btn-large" ng-click="order(4)">4皿</a>
      </div>
    </div>
  </div>
</div>