<div class="container">
<div class="card white">
<h4 class="center-align">お会計待ち一覧</h4>

  <table class="bordered">
    <thead>
      <tr>
        <th data-field="name">テーブル番号</th>
        <th data-field="delivery-count">お会計</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="orderGroup in orderGroups">
        <td>{{ orderGroup.tableNumber.value }}</td>
        <td><a class="waves-effect waves-light btn-large" ng-click="close(orderGroup.id.value)">お会計</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>