<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Cloud Native Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/resources/dist/css/bootstrap.min.css"
        th:href="@{/resources/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../static/resources/css/signin.css" 
        th:href="@{/resources/css/signin.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">

    <form name="f" class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        <input class="btn btn-lg btn-primary btn-block" value="Sign in" type="submit"/>
    </form>

</div> <!-- /container -->

<script src="../static/resources/js/main.js"
    th:src="@{/resources/js/main.js}"></script>
</body>
</html>
